.git
.gitignore
.idea
__pycache__/
*.py[cod]
*$py.class
*.so
.env
venv/
ENV/
env/
.venv/
logs/
*.log
staticfiles/
media/
db.sqlite3
.DS_Store
node_modules/
*.swp
.pytest_cache/
.coverage
htmlcov/
.tox/
.mypy_cache/
Dockerfile
docker-compose.yml
README.md 